html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body * {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
